@font-face {
    font-family: 'latobold';
    src: url('fonts/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {padding:0px; margin:0px; color:#FFF; position:relative;}
.clear {clear: both}

//VARIABLES
$color-facebook: #32577B;

//INDEX.PHP
.wrapper-index {
	width: 100%;
	height: 100%;

	.block-up {
		position: relative;
		width: 100%;
		height: 433px;
		background: url("../img/backgrounds/bg1.jpg") center no-repeat;

		.logo {
			position: relative;
			width: 70%;
			height: 150px;
			margin: 0px auto;
			padding-top: 200px;
			background: url("../img/logo/logo.svg") center no-repeat;
			background-size: contain;
		}

		.welcome-txt {
			width: 70%;
			margin: 0px auto;
			font-family: "latoregular";
			font-size: 14px;
			text-align: center;
			line-height: 1.50em;
		}
	}

	.block-down {
		position: relative;
		width: 100%;

		.btn {
			position: relative;
			width: 80%;
			height: 40px;
			margin: 0px auto;
			margin-top: 50px;
			border-radius: 7px;
			background: $color-facebook;
			font-family: "latobold";
			font-size: 14px;

			.facebook {
				position: absolute;
				width: 20px;
				height: 20px;
				left: 10px;
				top: 10px;
				background: url("../img/logo/facebook.svg") center no-repeat;
				background-size: contain;
				z-index: 9;
			}

			a {
				display: block;
				text-decoration: none;
				outline: none !important;

				span {

					display: block;
					width: 100%;
					height: 40px;
					line-height: 40px;
					text-align: center;
					color: #FFF;
				}
			}
		}
	}
}

//DNI.PHP
.wrapper-dni {
	position: fixed;
	width: 100%;
	height: 100%;
	background: url("../img/backgrounds/bg2.jpg") center no-repeat;
	background-size: cover;

	.logo {
			position: relative;
			width: 75%;
			margin: 0px auto;
			padding-top: 200px;
			background: url("../img/logo/logo2.svg") center no-repeat;
			background-size: contain;
		}

	.profile-img {
		position: relative;
		width: 150px;
		height: 150px;
		margin: 0px auto;
		border-radius: 100%;
		border: 2px solid #DEDDDD;
		background-size: cover;
		background-color: #DEDDDD;
	}

	.txt {
		width: 70%;
		margin: 0px auto;
		margin-top: 25px;
		font-family: "latoregular";
		font-size: 14px;
		text-align: center;
		line-height: 1.50em;
	}

	#dni {
		display: block;
		width: 80%;
		height: 40px;
		margin: 0px auto;
		margin-top: 20px;
		background-color: rgba(234,234,234, 0.72);
		border-radius: 7px;
		font-family: "latobold";
		font-size: 16px;
		text-align: center;
		color: #3D3E39;
		line-height: 40px;
		outline: none;
		border: none;
	}


	#btn-dni {
		display: block;
		width: 80%;
		height: 40px;
		margin: 0px auto;
		margin-top: 20px;
		background-color: #CE4E55;
		border-radius: 7px;
		font-family: "latobold";
		font-size: 14px;
		text-align: center;
		color: #FFF;
		line-height: 40px;
		outline: none;
		border: none;
		cursor: pointer;
	}

	#btn-dni:hover {
		background-color: #7098D0;
	}
}

//DASHBOARD.PHP
.wrapper-dashboard {
	width: 100%;
	height: 100%;

	.logo {
		position: relative;
		width: 25%;
		height: 30px;
		margin: 0px auto;
		margin-top: 10px;
		background: url("../img/logo/logo3.svg") center no-repeat;
		background-size: contain;
	}

	.block-kms {
		position: relative;
		width: 100%;
		height: 300px;
		margin-top: 120px;
		background: url("../img/backgrounds/bg2.jpg") center no-repeat;
		background-size: cover;

		.black-layout {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0, 0.50);
			z-index: 9;
		}

		.profile-img {
			position: absolute;
			width: 150px;
			height: 150px;
			top: -100px;
			left: calc(50% - 75px);
			margin: 0px auto;
			border-radius: 100%;
			border: 2px solid #DEDDDD;
			background-size: cover;
			background-color: #DEDDDD;
			z-index: 99;
		}

		.txt {
			position: absolute;
			top: 80px;
			width: 100%;
			text-align: center;
			font-family: "latobold";
			font-size: 18px;
			color: #FFF;
			z-index: 99;
		}

		.km-bar {
			position: absolute;
			top: 80px;
			width: 80%;
			left: 10%;
			z-index: 99;
		}

		.num {
			position: absolute;
			top: 30px;
			width: 100%;
			text-align: center;
			font-family: "latobold";
			font-size: 85px;
			color: #FFF;
			z-index: 99;
		}
	}

	.parametros {
		position: relative;
		width: 100%;
		height: 80px;
		background-color: #7098D0;

		.box {
			width: 24%;
			color: #FFF;
			float: left;

			.title {
				width: 80%;
				margin: 0px auto;
				margin-top: 20px;
				text-align: center;
				font-family: "latoregular";
				font-size: 14px;
			}

			.num {
				width: 80%;
				margin: 0px auto;
				margin-top: 7px;
				margin-bottom: 15px;
				text-align: center;
				font-family: "latobold";
				font-size: 18px;
			}
		}

		.line {
			width: 2px;
			height: 40%;
			margin-top: 26px;
			background: #FFF;
			float: left;
		}
	}
}