body {padding:0px; margin:0px; color:#FFF}

.wrapper {
	width: 100%;

	.block-up {
		position: relative;
		width: 100%;
		height: 433px;
		background: url("../img/backgrounds/bg1.jpg") center no-repeat;

		.logo {
			position: relative;
			width: 70%;
			height: 150px;
			margin: 0px auto;
			padding-top: 200px;
			background: url("../img/logo/logo.svg") center no-repeat;
			background-size: contain;
		}

		.welcome-txt {

		}
	}
}